<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建键盘事件</title>
</head>
<body>
    <textarea cols="150" rows="150" id="text">

    </textarea>

    <script>
        var text = document.getElementById("text");
        text.addEventListener("keydown",function (event) {
            console.log("触发了keydown方法");
        },false);
        window.setTimeout(function () {

            var keyEvent = document.createEvent("KeyboardEvent");
            keyEvent.initKeyboardEvent("keydown",true,true,document.defaultView,"a",0,"Shift",false,"");
            text.dispatchEvent(keyEvent);
        },2000);


    </script>
</body>
</html>