<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DOM2级事件</title>
</head>
<body>
    <button id="button1">按钮</button>

    <script>
        var button = document.getElementById("button1");
        var handler1 = function () {
            console.log("在事件捕获阶段触发这个程序");
        };

        var handler2 = function () {
            console.log("在事件冒泡阶段触发这个程序");
        };

        button.addEventListener("click",handler1,true);

        button.addEventListener("click",handler2,false);

        window.setTimeout(function () {
            button.removeEventListener("click",handler1,true);
        },2000);
    </script>
</body>
</html>