<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>事件委托</title>
</head>
<body>
    <ul id="ul">
        <li id="item1">item1</li>
        <li id="item2">item2</li>
        <li id="item3">item3</li>
    </ul>

    <script>
        var ul = document.getElementById("ul");
        ul.addEventListener("click",function (event) {
            switch (event.target.id){
                case "item1":
                    alert("我点击了item1");
                    break;
                case "item2":
                    alert("我点击了item2");
                    break;
                case "item3":
                    alert("我点击了item3");
                    break;
            }
        },false);

    </script>
</body>
</html>