<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTMLElement元素的属性</title>
</head>
<body>
    <div id="divId"  class="divClass" title = "divTitle" lang="en" dir = ltr></div>
    <script>
        var div = document.getElementById("divId");
        console.log("div.id: ", div.id);
        console.log("div.className: ",div.className);
        console.log("div.title: ",div.title);
        console.log("div.lang: ",div.lang);
        console.log("div.dir: ",div.dir);
    </script>
</body>
</html>