<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTMLDocument对象的属性</title>
</head>
<body>
    HTMLDocument对象的属性
    <script>
        console.log("document.title: ",document.title);
        document.title = "修改了的值";
        console.log("修改之后的document.title: ",document.title);

        console.log("document.URL: ",document.URL);
        console.log("document.domain: ",document.domain);
        console.log("document.referrer: ",document.referrer);
    </script>
</body>
</html>