<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>object测试</title>
</head>
<body>
    object测试
    <script>
        var a = new Object();
        console.log("a.hasOwnProperty(\"ss\"): " + a.hasOwnProperty("ss"));
        console.log("a.isPrototypeOf(new Object()): " + a.isPrototypeOf(new Object()));
        console.log("a.toLocaleString()): " + a.toLocaleString());
        console.log("a.toString()): " + a.toString());
        console.log("a.valueOf()): " + a.valueOf());
    </script>
</body>
</html>