<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>object类型测试</title>
</head>
<body>
    object类型测试
    <script>
        //定义object类型的两种方法
        var person = new Object();
        person.name = "person";
        person.age = 28;
        var person1 =  {
                            name : "person1",
                            age : 29
                        };
        console.log("person的名字: " + person.name);
        console.log("person1的名字: " + person1.name);
        //通过方括号访问对象的属性
        console.log("通过[]访问对象的属性: " + person1["name"]);
    </script>
</body>
</html>