<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>parseInt方法</title>
</head>
<body>
    parseInt函数测试
    <script>
    console.log("parseInt(\"123.25\"):" + parseInt("123.25"));
    console.log("parseInt(\"123bule\"):" + parseInt("123blue"));
    console.log("parseInt(\"0xA\"):" + parseInt("0xA"));
    console.log("parseInt(\"070\"):" + parseInt("070"));
    console.log("parseInt(\"070\",8):" + parseInt("070",8));
    </script>
</body>
</html>