<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>原型对象测试</title>
</head>
<body>
    原型对象测试
    <script>
        function Person() {
        }
        Person.prototype.name = "lulu";
        Person.prototype.age = 20;
        Person.prototype.sex = "男";
        Person.prototype.sayName = function () {
            console.log(this.name);
        };

        var p1 = new Person();
        var p2 = new Person();
        console.log("调用p1的sayName()方法: ");
        p1.sayName();
        console.log("调用p2的sayName()方法: ");
        p2.sayName();
        console.log("p1.name === p2.name: " + (p1.name === p2.name));
        console.log("Person.prototype.isPrototypeOf(p2): " + Person.prototype.isPrototypeOf(p2));
        console.log("p1.hasOwnProperty(\"name\"): " + p1.hasOwnProperty("name"));
        console.log("主动为p2设置一个name属性");
        p2.name = "newName";
        console.log("p2.hasOwnProperty(\"name\"): " + p2.hasOwnProperty("name"));

        console.log("使用in操作符");
        console.log("\"name\" in p1: " );
        console.log("name" in p1);
        console.log("\"name\" in p2: ");
        console.log("name" in p1);
        console.log("通过for-in循环获得对象可枚举属性");
        for (var s in p2){
            console.log(s);
        }

        console.log("Object.keys(Person.prototype): " + Object.keys(Person.prototype));

        //也可以通过重写整个原型对象的方式设置原型值
        console.log("通过重写原型对象设置属性");
        function OverWirtePro() {}
        OverWirtePro.prototype = {
            name : "overWritePro",
            sayName : function () {
                console.log(this.name);
            },
            constructor : OverWirtePro
        };

        var overWritePro = new OverWirtePro();
        console.log("overWritePro.name: " + overWritePro.name);
        console.log("overWritePro.sayName(): ");
        overWritePro.sayName();
        Object.defineProperty(OverWirtePro.prototype,"constructor",{enumerable : false,value : OverWirtePro});
        console.log("通过for-in循环，可以枚举的属性");
        for(temp in overWritePro){
            console.log(temp);
        }

        console.log("原型对象动态性");
        function DynamicPrototype () {}
        var dynamicPro = new DynamicPrototype();
        DynamicPrototype.prototype.name = "DynamicPrototype";
        console.log("dynamicPro.name: " + dynamicPro.name);

        console.log("通过重写原型对象，设置属性");
        function DynamicOverPrototype() {}
        var newDyanamic = new DynamicOverPrototype();
        DynamicOverPrototype.prototype = {name : "DynamicOverPrototype"};
        console.log("newDyanamic.name: " + newDyanamic.name);

    </script>
</body>
</html>